<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center" ngx-pendo-section="head">
  <h1 ngx-pendo-id="text">Welcome to {{ title }}!</h1>
  <img
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>
<h2 ngx-pendo-id="tip">Here are some links to help you start:</h2>
<ul ngx-pendo-section="link">
  <li ngx-pendo-id="tutorial">
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li ngx-pendo-id="cli">
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li ngx-pendo-id="blog">
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<hr />

<div>
  <p>Shuts down the agent and cleans up all timers and listeners. (This needs to wait for Pendo isReady.)</p>
  <button (click)="teardown()">teardown</button>
  <p>Initialize Pendo in 3 ways. (Please try it after call teardown.)</p>
  <button (click)="initializeWithService()">with service</button>&nbsp;
  <button (click)="initializeWithContext()">with context</button>&nbsp;
  <button (click)="initializeWithGlobal()">with global</button>
  <p>Other functions</p>
  <label for="visitor-id">Visitor Id</label>&nbsp;&nbsp;<input [(ngModel)]="visitor.id" /><br />
  <label for="account-id">Account Id</label>&nbsp;&nbsp;<input [(ngModel)]="account.id" /><br />
  <button (click)="enableDebugging()">enableDebugging</button>&nbsp;
  <button (click)="disableDebugging()">disableDebugging</button>&nbsp;
  <button (click)="identify()">identify</button>&nbsp; <button (click)="updateOptions()">updateOptions</button>&nbsp;
</div>

<hr />

<div ngx-pendo-section="variable">
  <p [ngx-pendo-id]="id">variable.variable-id</p>
  <div [ngx-pendo-section]="section">
    <p [ngx-pendo-id]="id">variable.variable-section.variable-id</p>
  </div>
  <button (click)="addId()">id</button>&nbsp;
  <button (click)="addSection()">section</button>
</div>

<hr />

<div ngx-pendo-section="dynamic">
  <div ngx-pendo-section="test">
    <p ngx-pendo-id="1">dynamic.test.1</p>
  </div>
  <div ngx-pendo-section="nest">
    <p ngx-pendo-id="1">dynamic.nest.1</p>
    <div ngx-pendo-section="nest-inner">
      <p ngx-pendo-id="1">dynamic.nest.nest-inner.1</p>
    </div>
  </div>
  <div ngx-pendo-section="list">
    <div *ngFor="let item of list; let i = index" [ngx-pendo-section]="i.toString()">
      <p [ngx-pendo-id]="i.toString()">dynamic.list.{{ i }}.{{ i }}</p>
    </div>
    <button (click)="addItem()">add</button>&nbsp;
    <button (click)="removeItem()">remove</button>
  </div>
</div>

<hr />

<div ngx-pendo-section="pendo format">
  <p ngx-pendo-id="pendo id">pendo-format.pendo-id</p>
  <p ngx-pendo-id="pendo_id">pendo-format.pendo-id</p>
  <p ngx-pendo-id="PENDO_ID">pendo-format.pendo-id</p>
</div>

<hr />

<div ngx-pendo-section="inherit">
  <p ngx-pendo-id="enable" [ngx-pendo-inherit]="true">inherit.enable</p>
  <p ngx-pendo-id="disable" [ngx-pendo-inherit]="false">disable</p>
  <div ngx-pendo-section="section" [ngx-pendo-inherit]="true">
    <p ngx-pendo-id="enable" [ngx-pendo-inherit]="true">inherit.section.enable</p>
    <p ngx-pendo-id="disable" [ngx-pendo-inherit]="false">disable</p>
  </div>
  <div ngx-pendo-section="section-disabled" [ngx-pendo-inherit]="false">
    <p ngx-pendo-id="enable" [ngx-pendo-inherit]="true">section-disabled.enable</p>
    <p ngx-pendo-id="disable" [ngx-pendo-inherit]="false">disable</p>
  </div>
</div>

<hr />

<router-outlet />
